<div ng-include="'app/components/navbar/navbar.html'"></div>
<div ng-controller="CartController as ctrl">
  <div class="width">
    <div class="b-cart">
      <div layout="row">
        <div  class="b-cart-col b-cart-col--big">
          <ul class="b-cart-breadcrumbs">
            <li class="b-cart-breadcrumbs__item" ng-repeat="element in ctrl.steps track by $index " ng-if="element.show">
              <a class="b-cart-breadcrumbs-item" ng-if="element.active" ui-sref-active="active" ui-sref="{{element.state}}">{{element.name}}</a>
              <span class="b-cart-breadcrumbs-item" ng-if="!element.active">{{element.name}}</span>
            </li>
          </ul>
          <ui-view></ui-view>
        </div>
        <div flex="45" class="b-cart-col b-cart-col--small b-cart-col--grey">
          <div layout="row">
            <div flex="70"><span class="b-cart-order-head">Order Summary</span></div>
            <div flex="30"><a href="">edit order</a></div>
          </div>
          <table class="b-cart-order-list">
            <tr ng-repeat="item in ctrl.ordeData.ordeData track by item.id">
              <td class="b-cart-order-list__img">
                <img ng-src="{{item.img}}" alt=""/>
              </td>
              <td class="b-cart-order-list__descr">
                <div class="b-cart-ord-lst-dsc">
                  <span class="db b-cart-ord-lst-dsc__head">{{item.title}}</span>
                  <span class="db b-cart-ord-lst-dsc__text">{{item.details}}</span>
                  <span class="db b-cart-ord-lst-dsc__text">Quantity: {{item.quantity}}</span>
                </div>
              </td>
              <td class="b-cart-order-list__price">{{item.price}}</td>
            </tr>
          </table>

          <table class="b-cart-price-list">
            <tr>
              <td class="b-cart-o-list__text">Subtotal</td>
              <td class="b-cart-o-list__text">${{ctrl.ordeData.subtotal}}</td>
            </tr>
            <tr>
              <td class="b-cart-o-list__text">Shipping</td>
              <td class="b-cart-o-list__text">{{ctrl.ordeData.shipping}}</td>
            </tr>
            <tr>
              <td class="b-cart-o-list__text">Taxes</td>
              <td class="b-cart-o-list__text">${{ctrl.ordeData.taxes}}</td>
            </tr>
          </table>
          <table class="b-cart-total-price-list">
            <tr>
              <td class="b-cart-o-list__text">Total</td>
              <td class="b-cart-o-list__text">${{ctrl.ordeData.total}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


