<div ng-include="'app/components/navbar/navbar.html'"></div>
<div ng-controller="CartController as ctrl">
  <div class="width">
    <div class="b-cart">
      <div layout="row">
        <div flex="52" class="b-cart-col">
          <ul class="b-cart-breadcrumbs">
            <li class="b-cart-breadcrumbs__item">
              <button ng-disabled="element.disable" ng-click="ctrl.goTo('auth.cart.shipping')">Shipping</button>
            </li>
            <li class="b-cart-breadcrumbs__item">
              <button ng-disabled="element.disable" ng-click="ctrl.goTo('auth.cart.billing')">Billing</button>
            </li>
            <li class="b-cart-breadcrumbs__item">
              <button ng-disabled="element.disable" ng-click="ctrl.goTo('auth.cart.payment')">Payment</button>
            </li>
          </ul>
          <ui-view></ui-view>
        </div>
        <div flex="48" class="b-cart-col b-cart-grey-col">
          <div layout="row">
            <div flex="70">Order Summary</div>
            <div flex="30"><a href="">edit order</a></div>
          </div>
          <table class="b-cart-order-list">
            <tr ng-repeat="item in ctrl.ordeData.ordeData track by item.id">
              <td class="b-cart-order-list__img">
                <img src="{{item.img}}" alt=""/>
              </td>
              <td class="b-cart-order-list__descr">
                <div class="b-cart-ord-lst-dsc">
                  <span class="db b-cart-ord-lst-dsc__head">{{item.title}}</span>
                  <span class="db b-cart-ord-lst-dsc__text">{{item.details}}</span>
                  <span class="db b-cart-ord-lst-dsc__text">Quantity: {{item.quantity}}</span>
                </div>
              </td>
              <td class="b-cart-order-list__price">{{item.price}}</td>
            </tr>
          </table>

          <table class="b-cart-price-list">
            <tr>
              <td class="b-cart-o-list__text">Subtotal</td>
              <td class="b-cart-o-list__text">${{ctrl.ordeData.subtotal}}</td>
            </tr>
            <tr>
              <td class="b-cart-o-list__text">Shipping</td>
              <td class="b-cart-o-list__text">{{ctrl.ordeData.shipping}}</td>
            </tr>
            <tr>
              <td class="b-cart-o-list__text">Taxes</td>
              <td class="b-cart-o-list__text">${{ctrl.ordeData.taxes}}</td>
            </tr>
          </table>
          <table class="b-cart-total-price-list">
            <tr>
              <td class="b-cart-o-list__text">Total</td>
              <td class="b-cart-o-list__text">${{ctrl.ordeData.total}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


