.b-cart{
  background: #fff;
  box-shadow: 0 0 3px #d1d1d1;
  margin-top: 65px;
  border-radius: 5px;
}
.b-cart-col{
  padding: 30px 5.5%;
}
.b-cart-col--big{
  flex: 1 1 59%;
  max-width: 59%;
  max-height: 100%;
  box-sizing: border-box;
}
.b-cart-col--small{
  flex: 1 1 41%;
  max-width: 41%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 35px 1.8%;
}
.b-cart-col--grey{
  background: #f2f3f6;
}
.b-cart-order-head{
  color: #4b1094;
  font-size: 1.5rem;
}
.b-step-h1{
  color: #470a91;
  font-size: 2.4rem;
  margin: 34px 0 30px;
}
.b-step-h1--payment{
  margin: 34px 0 20px;
}
.b-step-h3{
  color: #470a91;
  font-size: 1.5rem;
  line-height: 1.2rem;
  margin: 0;
}
.b-step-h3--payment{
  margin-top: 25px;
}
.b-step-bord{
  height:35px;
}
.b-step-text-input{
  width: 90%;
  border: 1px solid #dad9d9;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 13px 5%;
  margin: 9px 0;
}
.b-step-text-input--dt{
  width: 46%;
}
.b-step-text-input--zip{
  width: 28%;
  margin-left: 4%;
}
.b-step-text-input--min{
  width: 67%;
}
.b-step-input-describe{
  font-size: 1.22rem;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  line-height: 1rem;
}
.b-cart-breadcrumbs{
  padding: 0;
  margin: 0;
}
.b-cart-breadcrumbs__item{
  display: inline-block;
  position: relative;
  padding-right: 50px;

}

.b-cart-breadcrumbs__item:after{
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  right: 0;
  vertical-align: middle;
  width: 18px;
  height: 32px;
  margin-bottom: 4px;
  padding: 0 15px;
  background: url('../assets/img/next-arr.jpg') 50% 50% no-repeat;
}
.b-cart-breadcrumbs__item:last-child:after{
  display: none;

}
.b-cart-breadcrumbs-item{
  text-decoration: none;
  padding-right: 3%;
  text-transform: capitalize;
  font-size: 1.13rem;
  font-weight: 600;
}
.b-step-btn{
  display: block;
  padding: 19px 5px;
  margin: 10px 0;
  font-size: 1.4rem;
  font-weight: 900;
  width: 56%;
  line-height: 1.6rem;
  text-transform: capitalize;
  color: #fff !important;
  background: #7145a6 !important;
  border-radius: 5px;
  border: 1px solid #381166;
}
.b-step-row__col{
  display: inline-block;
  width: 38%;
}
.b-cart-breadcrumbs-item--active{
  color: red;
}
.b-step-secur{
  margin: 0 0 35px 0;
}

.b-step-secur__img{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background: url('../assets/img/secur.jpg') 50% 50% no-repeat ;
}
.b-step-secur__text{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.27rem;
}
.b-step-btn--payment{
  margin-top: 30px;
}
.b-cart-head-box{
  padding-bottom: 15px;
}
.b-cart-edit-order{
  color: #a2a2a3;
  font-size: 1.1rem;
  text-align: right;
  float: right;
}
.b-cart-order-list{
  border-collapse: collapse;
  width: 100%;
}
.b-cart-order-list__img{
  padding: 15px 0;
}
.b-cart-ord-lst-dsc__head{
  font-size: 1.15rem;
  margin-bottom: 3px;
}
.b-cart-order-list__descr{
  vertical-align: 0;
  padding: 15px 0;
}
.b-cart-ord-lst-dsc__head{
  color: #919293;
}
.b-cart-ord-lst-dsc__text{
  color: #393333;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.2rem;
}
.b-cart-order-list__price{
  vertical-align: top;
  text-align: right;
  padding: 15px 0;
}
.b-cart-order-list-item{
  border-bottom: 1px solid #e0e1e4;
}

.b-cart-price-list{
  width: 100%;

  border-collapse: collapse;
  margin: 10px 0
}
.b-cart-o-list__text{
  font-size: 1.1rem;
  font-weight: 600;
  color: #8d8f90;
  padding: 3px 0;
}
.b-cart-o-list__text--price{
  text-align: right;
  font-size: 1.1rem;
  padding: 3px 0;
}
.b-cart-total-price-list{

  border-collapse: collapse;
  width: 100%;
  margin: 13px 0 0 0;
}
.b-cart-tp-list__text{
  color: #431c5d;
  font-weight: bold;
  font-size: 1.1rem;
}
.b-cart-line-between-table{
  border-top: 1px solid #e0e1e4;

}

