<div ng-controller="PaymentCartController as ctrl">
  <h1>Billing Information</h1>

  Billing Contact
  <input placeholder="Full name" type="text"/>
  <input placeholder="Daytime phone" type="text"/>


  Billing Address
  <input placeholder="Street Address" type="text"/>
  <input placeholder="Apt, Suite< Bldg, Gate Code (optional)" type="text"/>


  <input placeholder="City" type="text"/>


  <input placeholder="Country" type="text"/>

  <input placeholder="ZIP" type="text"/>

  <md-button class="md-raised">Button</md-button>

</div>

