<div ng-controller="BillingCartController as ctrl">
  <h1 class="b-step-h1">Billing Information</h1>
  <h3 class="b-step-h3">Billing Contact</h3>
  <div class="b-step__input">
    <input class="b-step-text-input" placeholder="Full name" type="text"/>
  </div>
  <div class="b-step__input">
    <input class="b-step-text-input" placeholder="Email address" type="text"/>
  </div>

  <div class="b-step-bord"></div>
  <h3 class="b-step-h3">Address</h3>

  <div class="b-step__input">
    <input class="b-step-text-input" placeholder="Street Address" type="text"/>
  </div>
  <div class="b-step__input">
    <input class="b-step-text-input" placeholder="Apt, Suite, Bldg, Gate Code (optional)" type="text"/>
  </div>
  <div class="b-step__input">
    <input class="b-step-text-input" placeholder="City" ng-model="ctrl.data.city" type="text"/>
  </div>
  <div class="b-step__input b-step__input--dt">
    <input class="b-step-text-input" ng-model="ctrl.data.country" placeholder="Country" type="text"/>
  </div>
  <div class="b-step__input b-step__input--zip">
    <input class="b-step-text-input" placeholder="ZIP" type="text"/>
  </div>
  <md-button ng-click="ctrl.goToNextStep()" class="md-raised b-step-btn">Continue</md-button>
</div>

