<div ng-controller="ShippingCartController as ctrl">

  <h1 class="b-step-h1">Shipping Info</h1>

  <h3 class="b-step-h3">Recipient</h3>

  <input class="b-step-text-input" placeholder="Full name" type="text"/>
  <input class="b-step-text-input b-step-text-input--dt" placeholder="Daytime phone" type="text"/>
  <span class="b-step-input-describe">
    For delivery <br>question only
  </span>
  <div class="b-step-bord"></div>


  <h3 class="b-step-h3">Address</h3>
  <input class="b-step-text-input" placeholder="Street Address" type="text"/>
  <input class="b-step-text-input" placeholder="Apt, Suite< Bldg, Gate Code (optional)" type="text"/>


  <input placeholder="City" type="text"/>


  <input placeholder="Country" type="text"/>

  <input placeholder="ZIP" type="text"/>


    <md-button ng-click="ctrl.goToNextStep()" class="md-raised">Button</md-button>


</div>

