<div ng-controller="ShippingCartController as ctrl">

  <h1>Shipping Info</h1>

  Recipient

  <input placeholder="Full name" type="text"/>
  <input placeholder="Daytime phone" type="text"/>
  For delivery question only

  Address
  <input placeholder="Street Address" type="text"/>
  <input placeholder="Apt, Suite< Bldg, Gate Code (optional)" type="text"/>


  <input placeholder="City" type="text"/>


  <input placeholder="Country" type="text"/>

  <input placeholder="ZIP" type="text"/>


  <md-button ng-click="ctrl.goToNextStep()" class="md-raised">Button</md-button>


</div>

